ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
	a {
		color: blue;
	}
} 

ul {
	display: flex;
	li {
		margin: 1%;
	}
}

.siteHeading {
  	font-family:$headerFont;
  	h1 {
    	font-size:4rem;
	  }
	span {
		display:block;
		text-transform:uppercase;
		font-style:italic;
  	}
	p {
		line-height:1.5rem;
	}
}