.homePage {
    .headerFlex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 100vh;
    }
    h1 {
        font-size: 4rem;
    }
    .siteHeading {
        width: 50%;
        font-family: $headerFont;
        
        span {
            display: block;
            text-transform: uppercase;
            font-style: italic;
        }
        p { 
            line-height: 2rem;
            max-width: 65%;
        }
    }
    
    .imgContainer {
        width: 50%;
        filter: blur(15px);
        margin: 50px auto;
        img {
            transform: scale(1);
            animation: pulse 2s infinite ease-in-out;
        }
    }

    .downArrow {
        width: 100%;
        font-size: 2rem;
    }
    
    .description {
        font-size: 0.95rem;
        font-style: italic;
        line-height: 1.6rem;
        margin: 50px auto;
        width: 85vw;
        span {
            font-weight: 800;
            text-transform: uppercase;
        }
    }
    form {
        margin: 25px auto;
        font-family: $bodyFont;
        font-size: 1.2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        span {
            font-style: italic;
            font-weight: 700;
            text-transform: uppercase;
        }
        fieldset {
            width: 80%;
            border: none;
            margin: 0 0 35px 0;
            padding: 0;
        }
        .radioButton {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            input {
                height: 30px;
                width: 30px;
                text-align: right;
            }
            label {
                min-width: 135px;
                width: 35%;
                margin-bottom: 0;
            }
        }
        label {
            display: block;
            margin-bottom: 10px;
        }
        input, label, select {
            width: 100%;
        }
    }
    button[type="submit"] {
        font-family: $bodyFont;
        text-transform: uppercase;
        color: #f7fff6;
        width: 100%;
        font-weight: 600;
        background: #90e39a;
        border: #f7fff6 solid 0.05rem;
        padding: 15px 25px;
        &:hover,
        &:focus {
            color: #298776;
        }
        &:active {
            background: #50c17f;
        }
    }
    .buttonLink {
        min-width: 165px;
        width: calc(35% + 30px);
    }
}
