
.answerButton{
  margin: 1rem auto;
}
.maze {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    margin: 0 auto;
  }
  
  .block, .player {
    width: 25px;
    height: 25px;
  }
  
  .block0 {
    background-color: #90E39A;
  }
  
  .block1 {
    background-color: black;
  }

  .block2 {
    background-color: #90E39A;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .block2::before {
    width: 100%;
    height: 100%;
    text-align: center;
    background:radial-gradient(white 10%, yellow 25%, #00ff00 75%);
    background-position: center;
    border-radius: 50%;
    color: black;
    content:"?";
    animation: glow 1s linear infinite;
  }

  @keyframes glow {
    0% {
      background-size: 100% 100%;
    }
    50% {
      background-size: 200% 200%;
    }

    100% {
      background-size: 100% 100%;
    }
  }
  
.player {
	background-color: yellow;
	position: absolute;
	background: linear-gradient(45deg, red, blue);
	background-size: 500% 100%;
	animation: shifting 5s ease infinite;
}
@keyframes shifting {
	0% {
		background-position: 0% 100%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 100%;
	}
}