.test{
  margin: 1rem auto;
}

.maze {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
  }
  
  .block, .player {
    width: 25px;
    height: 25px;
  }
  
  .block0 {
    background-color: #90E39A;
  }
  
  .block1 {
    background-color: black;
  }

  .block2 {
    background-color: red;
  }
  
.player {
	background-color: yellow;
	position: absolute;
}