@media (max-width: 600px) {
    // General Styling
    .App{
        min-height: 89vh;
    }
    
    //Home Page Stying
    .homePage {
        .headerFlex {
            margin-bottom: 50px;
            align-content: center;
        }
        .siteHeading{
            width: 100%;
    
            h1{
                font-size: 2rem;
                text-align: center;
                margin: 0.4em 0;
            }
            span{
                display: inline-block;
            }
            p{
                font-size: 0.8rem;
                max-width: inherit;
                text-align: center;
                line-height: 1rem;
                margin: 0 auto;
            }
        }
        .downArrow {
            padding-top: 25px;
            top: 0;
        }
        .imgContainer{
            display: none;
        }
        footer{
            line-height: 0.5rem;
            margin-top: 0;
        }
        footer a,
        footer p {
            font-size: 0.5rem;
            line-height: 1rem;
            margin: 0;
        }
    
        .description {
            text-align: center;
        }
    }


    // Maze Page styling
    
    .buttonContainer{
        margin: 1rem 8%;
        max-width: inherit;
    }
    .mazeFlex {
        flex-direction: column;
        justify-content: center;
    }
    .keyButton{
        line-height: 3.5rem;
        font-size: 0.8rem;
        height: 60px;
        width: 60px;
    }
    .block,
    .player {
        height: calc(1.3vh + 1.3vw);
		width: calc(1.3vh + 1.3vw);
    }

    //Results and Advice
    .resultsFlex {
        flex-direction: column;
    }

    .leaderboard {
        max-width: 100%;
        li {
            flex: 0 0 auto;
            // padding:0;
        }
        padding:0;
    }

    .results {
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
        margin:0;
        padding: 0 0.5rem;
    }
	.block2::before {
		font-size: calc(1.3vh + 1.3vw);
	}
}

@media (min-width: 1440px) {
    .App {
        width: 1440px;
		margin: auto;
	}
}

@media (max-width: 1085px) {
    .radioButton {
        justify-content: center;
    }
}