.resultsFlex {
    display: flex;
	flex-direction: column;
}

.results {
    flex: 0 0 60%;
    margin-right: 50px;
}

.congrats {
    @include fadeIn("0s");
}

.repeatQuestion {
    @include fadeIn("2s");
}

.adviceHead {
    @include fadeIn("4s");
}

.advice {
    @include fadeIn("6s");
    width: 100%;
}

.congrats {
	margin-bottom: 2rem;

}

.leaderboard {
    max-width: 100%;
    flex: 0 0 40%;
    padding: 15px;
    margin: 2rem auto;
    text-align: center;
    @include fadeIn("8s");
	h2 {
		text-shadow: 2px 2px 2px rgba(29, 53, 72, 1), 
		-2px 2px 2px rgba(29, 53, 72, 1), 
		2px -2px 2px rgba(29, 53, 72, 1), 
		-2px -2px 2px rgba(29, 53, 72, 1);
	}
    ul {
        display: flex;
        flex-wrap: wrap;
		justify-content: left;
		border-radius: 6px;
		border: 2px solid white;
		background: linear-gradient(
			90deg,
			rgba(29, 53, 72, 1) 0%,
			rgba(41, 135, 118, 1) 50%,
			rgba(41, 135, 118, 1) 75%,
			rgba(29, 53, 72, 1) 100%
		);
    }
    li {
        max-width: 272px;
        flex: 0 2 auto;
        padding: 0 10px;
		margin: 2% auto;
		width: 40%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		border: 2px solid white;
		span {
			// width: 40%;
		}
    }
}

.repeatGame {
    @include fadeIn("10s");
    font-family: $bodyFont;
    text-transform: uppercase;
    color: #f7fff6;
    font-weight: 600;
    background: #90e39a;
    border: #f7fff6 solid 0.05rem;
	margin-top: 1rem;
    padding: 15px 25px;
    &:hover,
    &:focus {
        color: #298776;
    }
    &:active {
        background: #50c17f;
    }
}
