.resultsFlex {
    display: flex;
}

.results {
    flex: 0 0 60%;
    margin-right: 50px;
}

.congrats {
    @include fadeIn("0s");
}

.repeatQuestion {
    @include fadeIn("2s");
}

.adviceHead {
    @include fadeIn("4s");
}

.advice {
    @include fadeIn("6s");
}

.leaderboard {
    max-width: 50%;
    flex: 0 0 40%;
    padding: 15px;
    margin: auto;
    text-align: center;
    @include fadeIn("8s");
    ul {
        display: flex;
        flex-wrap: wrap;
    }
    li {
        flex: 0 2 auto;
        padding: 0 10px;
    }
}

.repeatGame {
    @include fadeIn("10s");
    font-family: $bodyFont;
    text-transform: uppercase;
    color: #f7fff6;
    font-weight: 600;
    background: #90e39a;
    border: #f7fff6 solid 0.05rem;
    padding: 15px 25px;
    &:hover,
    &:focus {
        color: #298776;
    }
    &:active {
        background: #50c17f;
    }
}
