body {
    color: #f7fff6;
    font-weight: 600;
}

a {
    color: #f7fff6;
    text-decoration: none;
}

p,
footer a {
    font-size: 0.9rem;
}

.results {
    font-family: $headerFont;
    .advice {
        font-family: $bodyFont;
    }
}

h2,
h3 {
    // color: #f7fff6;
    letter-spacing: 0.2rem;
}
