body {
    color: #f7fff6;
    font-weight: 600;
}

a {
    color: #f7fff6;
    text-decoration: none;
}

h2,
h3 {
    font-family: $headerFont;
    // color: #f7fff6;
    letter-spacing: 0.2rem;
}

footer {
    margin-top: 1rem;
}

p,
footer a {
    font-size: 0.9rem;
}

.results {
    font-family: $headerFont;
    .advice {
        font-family: $bodyFont;
    }
}

.leaderboard {
    h2 {
        text-transform: uppercase;
    }
    .hofName {
        text-transform: uppercase;
        font-weight: 700;
    }
}

.mazeHeading {
    h2 {
        text-transform: uppercase;
    }
    p {
        line-height: 1.15rem;
        font-weight: 300;
    }
}
