@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Poiret+One&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1350px;
  width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
}

@-webkit-keyframes resultsFade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes resultsFade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes wait {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes wait {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
body {
  color: #f7fff6;
  font-weight: 600;
}

a {
  color: #f7fff6;
  text-decoration: none;
}

footer {
  margin-top: 1rem;
}

p,
footer a {
  font-size: 0.9rem;
}

.results {
  font-family: "Poiret One", cursive;
}
.results .advice {
  font-family: "Hind Siliguri", sans-serif;
}

h2,
h3 {
  letter-spacing: 0.2rem;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul a,
li a {
  color: blue;
}

ul {
  display: flex;
}
ul li {
  margin: 1%;
}

.headerFlex {
  display: flex;
  align-items: center;
}

.siteHeading {
  font-family: "Poiret One", cursive;
}
.siteHeading h1 {
  font-size: 4rem;
}
.siteHeading span {
  display: block;
  text-transform: uppercase;
  font-style: italic;
}
.siteHeading p {
  line-height: 2rem;
  max-width: 65%;
}

.imgContainer {
  filter: blur(15px);
  margin: 50px auto;
}
.imgContainer img {
  transform: scale(1);
  -webkit-animation: pulse 2s infinite ease-in-out;
          animation: pulse 2s infinite ease-in-out;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
.homePage .description {
  font-size: 0.95rem;
  font-style: italic;
  line-height: 1rem;
  margin: 0 auto;
  width: 85vw;
}
.homePage .description span {
  font-weight: 800;
  text-transform: uppercase;
}
.homePage form {
  margin: 25px auto;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.homePage form span {
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}
.homePage form fieldset {
  flex: 1 1 50%;
  border: none;
}
.homePage form label {
  margin-right: 10px;
}
.homePage button[type=submit] {
  font-family: "Hind Siliguri", sans-serif;
  text-transform: uppercase;
  color: #f7fff6;
  font-weight: 600;
  background: #90e39a;
  border: #f7fff6 solid 0.05rem;
  padding: 15px 25px;
}
.homePage button[type=submit]:hover, .homePage button[type=submit]:focus {
  color: #298776;
}
.homePage button[type=submit]:active {
  background: #50c17f;
}

.answerButton {
  font-family: "Hind Siliguri", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  color: #f7fff6;
  font-weight: 600;
  background: #90e39a;
  border: #f7fff6 solid 0.05rem;
  padding: 15px 25px;
}
.answerButton:hover, .answerButton:focus {
  color: #298776;
}
.answerButton:active {
  background: #50c17f;
}

.maze {
  display: flex;
  flex-direction: column;
  position: relative;
}

.row {
  display: flex;
  margin: 0 auto;
}

.block,
.player {
  width: 4vw;
  height: 25px;
  max-width: 25px;
  max-height: 25px;
}

.block {
  opacity: 0;
}

.block0 {
  background-color: #90e39a;
}

.distance0,
.distance1,
.distance2,
.player {
  opacity: 1;
}

.distance3 {
  opacity: 0.8;
}

.distance4 {
  opacity: 0.6;
}

.distance5 {
  opacity: 0.4;
}

.distance6 {
  opacity: 0.2;
}

.block1 {
  background-color: black;
}

.block2 {
  background-color: #90e39a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block2::before {
  width: 100%;
  height: 100%;
  text-align: center;
  background: radial-gradient(white 10%, yellow 25%, #00ff00 75%);
  background-position: center;
  border-radius: 50%;
  color: black;
  content: "?";
  -webkit-animation: glow 1s linear infinite;
          animation: glow 1s linear infinite;
}

.block3 {
  background-color: #90e39a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block3.distance1::before {
  content: "X";
  color: red;
}

@-webkit-keyframes glow {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 200% 200%;
  }
  100% {
    background-size: 100% 100%;
  }
}

@keyframes glow {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 200% 200%;
  }
  100% {
    background-size: 100% 100%;
  }
}
.player {
  background-color: yellow;
  position: absolute;
  background: linear-gradient(45deg, red, blue);
  background-size: 500% 100%;
  -webkit-animation: shifting 5s ease infinite;
          animation: shifting 5s ease infinite;
  border-radius: 10px;
}

@-webkit-keyframes shifting {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes shifting {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.resultsFlex {
  display: flex;
  margin: 50px 0;
}

.results {
  flex: 0 0 60%;
  margin-right: 50px;
}

.congrats {
  -webkit-animation: wait 0s, resultsFade 2s 0s;
          animation: wait 0s, resultsFade 2s 0s;
}

.repeatQuestion {
  -webkit-animation: wait 2s, resultsFade 2s 2s;
          animation: wait 2s, resultsFade 2s 2s;
}

.adviceHead {
  -webkit-animation: wait 4s, resultsFade 2s 4s;
          animation: wait 4s, resultsFade 2s 4s;
}

.advice {
  -webkit-animation: wait 6s, resultsFade 2s 6s;
          animation: wait 6s, resultsFade 2s 6s;
}

.leaderboard {
  max-width: 50%;
  flex: 0 0 40%;
  padding: 15px;
  margin: auto;
  text-align: center;
  -webkit-animation: wait 8s, resultsFade 2s 8s;
          animation: wait 8s, resultsFade 2s 8s;
}
.leaderboard ul {
  display: flex;
  flex-wrap: wrap;
}
.leaderboard li {
  flex: 0 2 auto;
  padding: 0 10px;
}

.repeatGame {
  -webkit-animation: wait 10s, resultsFade 2s 10s;
          animation: wait 10s, resultsFade 2s 10s;
  font-family: "Hind Siliguri", sans-serif;
  text-transform: uppercase;
  color: #f7fff6;
  font-weight: 600;
  background: #90e39a;
  border: #f7fff6 solid 0.05rem;
  padding: 15px 25px;
}
.repeatGame:hover, .repeatGame:focus {
  color: #298776;
}
.repeatGame:active {
  background: #50c17f;
}

.buttonContainer {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  width: 40%;
  position: relative;
  bottom: 1rem;
  left: 1rem;
}
.buttonContainer button {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
}

.topArrow {
  margin: 1rem auto;
  grid-column: 1/span 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.downArrow {
  margin: 0 auto;
  max-width: 100%;
}

.leftArrow {
  display: flex;
  justify-content: flex-end;
}

.keyButton {
  box-sizing: border-box;
  line-height: 4rem;
  font-size: 1.1rem;
  text-align: center;
  width: 4rem;
  color: #555;
  cursor: pointer;
  margin: 0 8px;
  height: 4rem;
  border-color: #f2f2f2;
  border-style: solid;
  text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
  border-width: 1px;
  border-radius: 10px;
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #D2D2D2 80%, #c0c0c0 100%);
  font-family: sans-serif;
  display: inline-block;
  transition: box-shadow 0.3s ease, transform 0.15s ease;
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #C0C0C0, 0 8px 17px rgba(68, 68, 68, 0.4), 2px 1px 4px rgba(68, 68, 68, 0.25), -2px 1px 4px rgba(68, 68, 68, 0.25), 0 9px 16px rgba(68, 68, 68, 0.1);
}
.keyButton:hover, .keyButton:focus {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #C0C0C0, 0 2px 35px rgba(68, 68, 68, 0.3), 2px 2px 4px rgba(68, 68, 68, 0.25), -2px 2px 4px rgba(68, 68, 68, 0.25), 0 7px 4px rgba(68, 68, 68, 0.1);
  transform: translateY(2px);
}
.keyButton:active {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #C0C0C0, 0 0px 30px rgba(68, 68, 68, 0.15), 2px 2px 4px rgba(68, 68, 68, 0.25), -2px 2px 4px rgba(68, 68, 68, 0.25), 0 0px 4px rgba(68, 68, 68, 0.25);
  transform: translateY(4px);
}

.mazeFlex {
  display: flex;
}

html {
  font-size: 125%;
  font-family: "Hind Siliguri", sans-serif;
  background: linear-gradient(90deg, #1d3548 10%, #298776 50%, #298776 75%, #1d3548 100%);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}

footer {
  text-align: center;
  line-height: 0.9rem;
}
footer a {
  line-height: 1rem;
}

.App {
  min-height: 95vh;
}

footer {
  min-height: 5vh;
}

@media (max-width: 600px) {
  .App {
    min-height: 89vh;
  }

  .siteHeading h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0.4em 0;
  }
  .siteHeading span {
    display: inline-block;
  }
  .siteHeading p {
    font-size: 0.8rem;
    max-width: inherit;
    text-align: center;
    line-height: 1rem;
  }

  .imgContainer {
    display: none;
  }

  footer {
    line-height: 0.5rem;
    margin-top: 0;
  }

  footer a,
footer p {
    font-size: 0.5rem;
    line-height: 1rem;
    margin: 0;
  }

  .buttonContainer {
    margin: 1rem 8%;
    max-width: inherit;
  }

  .mazeFlex {
    flex-direction: column;
    justify-content: center;
  }

  .keyButton {
    line-height: 3.5rem;
    font-size: 0.8rem;
    height: 60px;
    width: 60px;
  }

  .block,
.player {
    height: 2vh;
  }
}/*# sourceMappingURL=styles.css.map */