@import "setup";
@import "vars";
@import "typography";
@import "App";
@import "HomePage";
@import "Maze";
@import "Results";

html {
    font-size: 125%;
    font-family: $bodyFont;
    background: linear-gradient(
        90deg,
        rgba(29, 53, 72, 1) 10%,
        rgba(41, 135, 118, 1) 50%,
        rgba(41, 135, 118, 1) 75%,
        rgba(29, 53, 72, 1) 100%
    );
    backdrop-filter: blur(50px);
}

footer {
    text-align: center;
    line-height: 0.9rem;
    a {
        line-height: 1rem;
    }
}

.App {
    min-height: 95vh;
}

footer {
    min-height: 5vh;
}
